html,
body,
#container_layout,
#container_tabbar,
#container_editor {
  height: 100%;
}
.CodeMirror {
  font-family: Consolas;
  height: 100%;
}
.CodeMirror-foldmarker {
  color: inherit ;
  font-family: inherit;
  font-weight: 400 ;
  text-shadow: none;
  border: 1px solid #e7e7e7;
}
.CodeMirror-foldgutter {
  width: 1.2em;
}
.CodeMirror-foldgutter-folded:after {
  font-family: 'Material Design Icons';
  content: '\f142';
}
.CodeMirror-foldgutter-open:after {
  font-family: 'Material Design Icons';
  content: "\f140";
}