html,
body,
#root, 
#cm_editor {
  height: 100%;
}
.CodeMirror {
  font-family: Consolas;
  height: 100%;
}
.CodeMirror-foldmarker {
  color: inherit ;
  font-family: inherit;
  font-weight: 400 ;
  text-shadow: none;
  border: 1px solid #373737;
}